:root {
  --branding-color: black;
  --secondary-color: white;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: black;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.25cm;
  line-height: 2;
}

.hero h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.1cm;
}

.hero h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}

.hero p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.btn-branding {
  background: white;
  font-family: var(--default-font-family);
  border-radius: 50px;
  color: black;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0.05cm;
  padding: 12px 20px;
  text-transform: uppercase;
}

.about-section h2 {
  font-size: 18px;
  color: #97cba9;
  font-family: var(--default-font-family);
  font-weight: 700;
  letter-spacing: 0.25cm;
  line-height: 2;
  text-transform: uppercase;
  justify-content: end;
}

.about-section h1 {
  font-size: 64px;
  color: white;
  font-family: var(--heading-font-family);
  font-weight: 700;
  letter-spacing: 0.25cm;
  line-height: 2;
}

.about-section p {
  font-size: 18px;
  color: white;
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 2;
}

.about-section-content {
  margin: 30px;
  width: 567px;
  height: 605.568px;
}

.about-section-content img {
  width: 700px;
  height: 782px;
}

.row-1 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 150px;
  border: 1px black solid;
  justify-content: center;
}

.row-2 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

.row-3 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

.row-4 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

.gallery h1 {
  color: #fff;
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  padding: 20px;
  margin: 160px 10px;
}

.contact body {
  text-align: center;
}
.contact h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 7.2px;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 20px 100px 20px;
}

.contact h2 {
  color: white;
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.1cm;
  text-align: center;
  line-height: 30px;
}

.contact h3 {
  color: #97cba9;
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.contact p {
  color: white;
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #97cba9;
}

.container {
  display: flex;
  justify-content: flex-end;
}

nav {
  color: #fff;
  font-family: var(--default-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #97cba9;
}

footer {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 60px;
}

footer .social-links a {
  margin: 60px;
  color: white;
  text-decoration: none;
}

footer .social-links a:hover {
  color: #97cba9;
}

.copywrite {
  text-align: end;
  color: #fff;
  text-align: right;
  font-family: var(--default-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .homepage-images {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
