:root {
  --branding-color: black;
  --secondary-color: white;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: black;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.25cm;
  line-height: 2;
}

.hero h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.1cm;
}

.hero h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}

.hero p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.about-section {
  padding: 160px 20px;
  display: grid;
}
.about-section h2 {
  font-size: 18px;
  color: #97cba9;
  font-family: var(--default-font-family);
  font-weight: 700;
  letter-spacing: 0.25cm;
  line-height: 2;
}

.about-section h1 {
  font-size: 64px;
  color: white;
  font-family: var(--heading-font-family);
  font-weight: 700;
  letter-spacing: 0.25cm;
  line-height: 2;
}

.about-section p {
  font-size: 18px;
  color: white;
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 2;
}

.about-section-content {
  margin: 30px;
  width: 567px;
  height: 605.568px;
  flex-shrink: 0;
}

.about-section-content img {
  width: 700px;
  height: 782px;
  flex-shrink: 0;
}
.btn-branding {
  background: white;
  font-family: monospace;
  border-radius: 50px;
  color: black;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0.05cm;
  padding: 12px 20px;
}

.row-1 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 150px;
  border: 1px black solid;
  justify-content: center;
}

.row-2 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

.row-3 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

.row-4 {
  display: flex;
  width: 386px;
  height: 280px;
  gap: 40px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 40px;
  border: 1px black solid;
  justify-content: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .homepage-images {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
